{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}


{% for collection in collections %}

    <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">
      {% if collection.image != blank or collection.products.first != blank %}
        {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
        {% include 'responsive-image' with
          image: image_object,
          max_width: 1980,

        %}
      {% else %}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
      {% endif %}
    </a>

    <p class="collection-title">
      <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">{{ collection.title }}</a>
    </p>

  <div class="collection-wrapper">
    {% for product in collection.products %}

{% comment %} ==================================================== {% endcomment %}



{% comment %} ==================================================== {% endcomment %}

      <div class="collection-item">
        {% if product.featured_image != blank %}
          <a href="{{ product.url | within: collection }}">
            {% include 'responsive-image' with
              image: product.featured_image,
              max_width: 200,
              max_height: 300
            %}
          </a>
        {% endif %}
        
        <a href="{{ product.url | within: collection }}" class="collection-item__details"> + show details + </a>

        <div class='collection-item__text'>
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        {% comment %} </p>
        
        <p> {% endcomment %}

        <a href="{{ product.url | within: collection }}">
          {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}

          {% else %}

            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}

          {% endif %}

          {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s>{{ product.compare_at_price | money }}</s>
          {% endif %}

          {% unless product.available %}
            {{ 'products.product.sold_out' | t }}
          {% endunless %}

          </div>
        </a>

      </div>

    {% endfor %}
  </div>


{% endfor %}
